<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sprout Money</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css"  />

    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>

</head>
<body>

<h1>Hello!</h1>

<a th:href="@{/register}" href="/register" class="btn btn-primary">Sign up</a>

<a th:href="@{/login}" href="/login" class="btn btn-primary">Log in</a>

</body>
</html>