<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Your Dashboard</title>

    <meta name="_csrf" th:content="${_csrf.token}"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"  />
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome, <span th:text="${user.getFirstName()}"></span>!</h1>

            <button class="btn btn-primary" id="link-button">Link New Account</button>

            <button id="test-button">Test Me</button>

            <h3>You've got <span th:text="${user.getTotalAssets()}"></span> in available cash.</h3>

            <h3>Your accounts</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Account</th>
                    <th>Institution</th>
                    <th>Account Type</th>
                    <th>Balance</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${accounts}">
                    <td th:text="${account.getName()}"></td>
                    <td th:text="${account.getInstitutionName()}"></td>
                    <td th:text="${account.getAccountSubtype()}"></td>
                    <td>$<span th:text="${account.getCurrentBalance()}"></span></td>
                </tr>
                </tbody>
            </table>


    </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Your recent transactions</h3>
            <table class="table table-bordered table">
                <thead>
                <tr>
                    <th>Merchant</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Account</th>
                    <th>Pending?</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${user.getTransactions()}">
                    <td th:text="${transaction.getMerchantName()}"></td>
                    <td th:text="${transaction.getDate()}"></td>
                    <td th:text="${transaction.getAmount()}"></td>
                    <td th:text="${transaction.getAccount().getInstitutionName()}"></td>
                    <td th:text="${transaction.isPending()}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script> -->
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

<!-- TODO: Replace keys with env vars -->
<script type="text/javascript">
    (function($) {
        var handler = Plaid.create({
            clientName: 'Sprout Web Client',
            apiVersion: 'v2',
            env: 'sandbox',
            // Replace with your public_key from the Dashboard
            key: 'f2ed0e179c86b5a0c0c16dc0bd4dc5',
            product: ['transactions'],
            // Optional, use webhooks to get transaction and error updates
            webhook: 'https://requestb.in',
            onLoad: function() {
                // Optional, called when Link loads
            },
            onSuccess: function(public_token, metadata) {
                // Send the public_token to your app server.
                // The metadata object contains info about the institution the
                // user selected and the account ID, if the Account Select view
                // is enabled.
                var secToken = $('meta[name="_csrf"]').attr('content');
                var header = "X-CSRF-TOKEN";
                $.ajaxSetup({
                    headers: {
                        'X-CSRF-Token': secToken
                    }
                });

                alert("User successfully selected an institution!");
                alert(metadata['accounts']);
                $.post('/get_plaid_access_token', {
                    publicToken: public_token,
                    institutionName: metadata['institution']['name'],
                    institutionId: metadata['institution']['institution_id'],
                    accounts: JSON.stringify(metadata['accounts'])

                });
            },
            onExit: function(err, metadata) {
                // The user exited the Link flow.
                if (err != null) {
                    // The user encountered a Plaid API error prior to exiting.
                }
                // metadata contains information about the institution
                // that the user selected and the most recent API request IDs.
                // Storing this information can be helpful for support.
            },
            onEvent: function(eventName, metadata) {
                // Optionally capture Link flow events, streamed through
                // this callback as your users connect an Item to Plaid.
                // For example:
                // eventName = "TRANSITION_VIEW"
                // metadata  = {
                //   link_session_id: "123-abc",
                //   mfa_type:        "questions",
                //   timestamp:       "2017-09-14T14:42:19.350Z",
                //   view_name:       "MFA",
                // }
            }
        });

        var buttonTest = function () {
            var secToken = $('meta[name="_csrf"]').attr('content');
            var header = "X-CSRF-TOKEN";
            $.ajaxSetup({
                headers: {
                    'X-CSRF-Token': secToken
                }
            });
            alert("Testing the token flow");
            $.post('/get_plaid_access_token', {
                publicToken: 'public-development-59aa9de7-bb22-4d1a-94b8-a6759a2dd0b8',
                institutionName: 'Chase Bank',
                institutionId: '3'
            })
        };

        $('#link-button').on('click', function(e) {
            handler.open();
        });

        $('#test-button').on('click', function() {
            buttonTest();
        });

    })(jQuery);
</script>
</body>
</html>